body{
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    color: lawngreen;
}


button {
    padding: 0.3rem;
    margin: 1rem;
}

button:hover{
    cursor: pointer;
}


#container {
border: 5px solid white;
border-radius: 9px;
width: 60%;
margin: 6rem auto;
height: 500px;
}

#players {
    display: flex;
    justify-content: space-around;
}